$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$header-height: 51px;
$sidebar-left-width: 260px;
$sidebar-right-width: 260px;
$sidebar-arrow-width: 10px;
